@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

html,
body {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "SF Pro Display", "Roboto", sans-serif;
  position: relative;
  padding: 64px; }
  @media screen and (max-width: 500px) {
    body {
      overflow-y: auto;
      padding: 24px; } }

img {
  display: inline;
  vertical-align: middle; }

a {
  color: white;
  text-decoration: none; }
  a:visited {
    color: white; }
  a:hover {
    text-decoration: underline; }
  a.snsLinks {
    width: 24px;
    height: 24px; }
    a.snsLinks:hover {
      text-decoration: none; }
    a.snsLinks .fb {
      cursor: pointer;
      vertical-align: middle;
      margin-right: 24px; }
      a.snsLinks .fb:hover path {
        fill: #3b5998; }
    a.snsLinks .yt {
      cursor: pointer;
      vertical-align: middle; }
      a.snsLinks .yt:hover path {
        fill: #FF0000; }

.stripBg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 150vw;
  z-index: -1; }
  @media screen and (max-width: 500px) {
    .stripBg {
      width: 250vw; } }
  .stripBg .gradient {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150vw;
    background: #9459a4;
    background: linear-gradient(-45deg, #9459a4 0%, #9459a4 20%, #e35846 80%, #e35846 100%); }

.strip {
  display: inline-block;
  width: calc(100% / 7);
  margin-right: -4.5px;
  height: 100vh;
  -webkit-transform: skew(-45deg) translateX(-460px);
  transform: skew(-45deg) translateX(-460px); }
  .strip.red1, .strip.red2 {
    background: #e35846; }
  .strip.green1, .strip.green2 {
    background: #57be9e; }
  .strip.purple1, .strip.purple2 {
    background: #9459a4; }
  .strip.yellow1, .strip.yellow2 {
    background: #f4cf2e; }

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: -0.46px;
  color: white; }
  @media screen and (max-width: 500px) {
    .pageContainer {
      overflow-y: auto; } }
  .pageContainer .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .pageContainer .heroContainer {
    margin-top: 120px; }
    @media screen and (max-width: 667px) {
      .pageContainer .heroContainer {
        margin-top: 50px; } }
  .pageContainer h1 {
    font-size: 70px;
    font-weight: bold; }
    @media screen and (max-width: 667px) {
      .pageContainer h1 {
        font-size: 50px; } }
  .pageContainer h2 {
    font-size: 40px;
    margin-bottom: 20px; }
    @media screen and (max-width: 667px) {
      .pageContainer h2 {
        font-size: 30px; } }
    .pageContainer h2.light {
      font-weight: 300; }
  .pageContainer .investorContainer {
    margin-top: 200px;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto; }
    @media screen and (max-width: 667px) {
      .pageContainer .investorContainer {
        margin-top: 70px;
        margin-bottom: 60px; }
        .pageContainer .investorContainer span {
          width: 100%;
          display: block; } }
    .pageContainer .investorContainer img {
      width: auto;
      height: 32px;
      padding-left: 24px; }
      @media screen and (max-width: 667px) {
        .pageContainer .investorContainer img {
          padding-left: 0;
          margin-top: 10px; } }
  .pageContainer footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    font-size: 12px; }
    @media screen and (max-width: 500px) {
      .pageContainer footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 50px; } }
    @media screen and (max-width: 667px) {
      .pageContainer footer {
        padding-bottom: 50px; } }
    @media screen and (max-width: 667px) {
      .pageContainer footer .address {
        font-size: 10px; } }
    .pageContainer footer span img {
      padding-left: 24px; }
      @media screen and (max-width: 600px) {
        .pageContainer footer span img {
          padding-left: 0;
          padding-right: 24px; } }
    .pageContainer footer span.contact {
      text-align: center; }
      @media screen and (max-width: 600px) {
        .pageContainer footer span.contact {
          text-align: left;
          margin-top: 16px; } }
    @media screen and (max-width: 600px) {
      .pageContainer footer span:last-child {
        text-align: left;
        margin-top: 18px; } }
    @media screen and (max-width: 600px) {
      .pageContainer footer span {
        -webkit-box-flex: 1;
        -ms-flex: 1 100%;
        flex: 1 100%; } }
